site_name: Helmless
site_description: Serverless Deployments Without Compromise. Deploy Google Cloud Run containers using Helm, without the overhead of Kubernetes and Terraform.
site_url: https://helmless.io
repo_url: https://github.com/helmless/helmless
repo_name: helmless/helmless
edit_uri: edit/main/docs/

conventions_path: docs/helmless/conventions.md
schema_renderer:
  write_output: false
  schemas:
    - schema_path: https://raw.githubusercontent.com/helmless/helmless/main/charts/cloudrun/service/values.schema.json
      changelog_path: https://raw.githubusercontent.com/helmless/helmless/main/charts/cloudrun/service/CHANGELOG.md
      nav_path: docs/cloudrun/schemas/service.md
    - schema_path: https://raw.githubusercontent.com/helmless/helmless/main/charts/cloudrun/job/values.schema.json
      changelog_path: https://raw.githubusercontent.com/helmless/helmless/main/charts/cloudrun/job/CHANGELOG.md
      nav_path: docs/cloudrun/schemas/job.md

nav:
  - Home: index.md
  - Documentation:
      - docs/index.md
      - Getting Started:
          - docs/getting-started/index.md
          - 5min Quick Start: docs/getting-started/quickstart.md
          - Core Concepts: docs/getting-started/core-concepts.md
          - Examples: docs/getting-started/examples.md
      - Google Cloud Run:
          - docs/cloudrun/index.md
          - CI/CD: docs/cloudrun/ci-cd.md
          # - Examples: docs/cloudrun/examples.md
          # - Advanced Infrastructure: docs/cloudrun/advanced.md
          - Service Schema: docs/cloudrun/schemas/service.md
          - Job Schema: docs/cloudrun/schemas/job.md
          - Chart Changelog: docs/cloudrun/CHANGELOG.md
      - Why Helmless?:
          - docs/helmless/index.md
          - What is Helmless?: docs/helmless/what-is-helmless.md
          - Architecture: docs/helmless/architecture.md
          - Conventions: docs/helmless/conventions.md
  - Discord: discord/index.md # required to display the icon

plugins:
  - privacy
  - search
  # - awesome-pages:
  #     filename: .pages
  #     collapse_single_pages: true
  #     strict: false
  #     order: asc
  #     sort_type: natural
  #     order_by: title
  # - multirepo:
  #     cleanup: false
  #     keep_docs_dir: false
  #     nav_repos:
  #       - name: docs
  #         import_url: 'https://github.com/helmless/google-cloudrun-chart?branch=main'
  #         imports: ['cloudrun/schema/*.md']

  - redirects:
      redirect_maps:
        'discord.md': 'https://discord.gg/A5cjzfyAN5'
        'docs/index.md': 'docs/getting-started/index.md'
theme:
  name: material
  custom_dir: docs/_overrides/
  logo: assets/images/helmless.png
  favicon: assets/images/helmless.png
  palette:
    scheme: slate
    primary: custom
    accent: light blue
  icon:
    # logo: material/rocket-launch
    repo: material/github
    annotation: material/chevron-right-circle
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.footnote.tooltips
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - content.tabs.link
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
copyright: Copyright &copy; 2024 Helmless
extra:
  generator: false
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  social:
    - icon: fontawesome/brands/github
      name: GitHub
      link: https://github.com/helmless/helmless
    - icon: fontawesome/brands/linkedin
      name: LinkedIn
      link: https://www.linkedin.com/in/michael-reichenbach/
    - icon: fontawesome/brands/discord
      name: Discord
      link: https://discord.gg/A5cjzfyAN5
  analytics:
    provider: google
    property: G-1ZHVXV2WWV
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
  font:
    text:
      - family: Inter
      - url: https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap
    code:
      - family: JetBrains Mono
      - url: https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      url_download: true
      auto_append:
        - docs/_includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: warn
    anchors: warn
    absolute_links: warn
    unrecognized_links: warn
extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/footer.css
hooks:
  - docs/_hooks/schema_renderer.py
  - docs/_hooks/shortcodes.py
